/* COLORS */
$primary: #f04c4b;
$secondary: #252525;

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary
);

/* TYPOGRAPHY */
$display-font-sizes: (
  1: 7rem,
);

$display-font-weight: 400;

@import "~bootstrap/scss/bootstrap";