/* COLORS */
$primary: #f04c4b;
$secondary: #252525;
$cream: #ede9de;

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
    "cream": $cream
);

/* TYPOGRAPHY */
$display-font-sizes: (
  1: 7rem,
);

$display-font-weight: 400;

@import "~bootstrap/scss/bootstrap";