html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-floating{ padding: 15px 20px; bottom: 60px; right: 40px; z-index: 9999;}

img {
  filter: grayscale(100%);
  transition: all 0.3s;
  cursor: pointer;
}

.bg-design{
  background-image: url('../public/assets/img/bg-custom.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-develop{
  background-image: url('../public/assets/img/bg-custom-02.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-footer{
  background-image: url('../public/assets/img/bg-custom-03.png');
  background-size: cover;
  background-repeat: no-repeat;
}
